{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación de Cliente</h1>
  <p>¿Estás seguro de que deseas eliminar al cliente "{{ cliente.nombre }} {{ cliente.apellido }}" (DNI: {{ cliente.dni }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'cliente_list' %}">Cancelar</a>
{% endblock %}