{% extends "base.html" %}

{% block content %}
  <h1>Listado de Clientes</h1>
  <ul>
    {% for cliente in clientes %}
      <li>{{ cliente.nombre }} {{ cliente.apellido }} (DNI: {{ cliente.dni }}) - <a href="{% url 'cliente_update' cliente.pk %}">Editar</a> | <a href="{% url 'cliente_delete' cliente.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'cliente_create' %}">Agregar Cliente</a>
{% endblock %}